<header>
  <div class="logo">
    <span class="configuration" (click)="navigateToHome()">Configuration</span>
    <span>
      <span>&nbsp;/&nbsp;</span>
      <span class="monitoring">Monitoring</span>
    </span>
  </div>
  <app-logger-console></app-logger-console>
</header>

<div class="bottom-container">
  <section class="main-body">
    <router-outlet></router-outlet>
  </section>
  <footer>
    <div class="dev-info">Developed By&nbsp;<a href="https://www.linkedin.com/in/shiva-rao-584a67153/">Shiva Rao
        Alka</a></div>
  </footer>
</div>

<app-common-throbber></app-common-throbber>
<app-common-toaster></app-common-toaster>