
<section class="main-section" [ngClass]="{'action-not-selected' : selectedTab === ''}">
    <div class="action-handler" >
        <div class="action" [ngClass]="{'selected' : selectedTab === 'configuration', 'nothing-selected' : selectedTab === ''}" (click)="enableConfigurationTab()">
           <div class="wrapper">System</div>
        </div>
        <div class="action" [ngClass]="{'selected' : selectedTab === 'user', 'nothing-selected' : selectedTab === '' }" (click)="enableUserTab()">
            <div class="wrapper">User</div>
        </div>
    </div>

    <div class="selected-view">
        <router-outlet>
        </router-outlet>
    </div>

    <div class="info-article" *ngIf="selectedTab === ''">
        <h2 class="line-break-anywhere">System Configuration</h2>
        <article class="configuration-article line-break-anywhere">
            Hey there! If you're using our System.config tab to manage multiple instances of a service running on remote Linux machines, we've got some exciting news for you!
            <br><br>
            First off, the System.config tab reads the [ECMG] section, where each line represents a single instance of the service, complete with its unique instance_id, IP, port, and allowed clients. That way, you can easily manage and configure each instance of the service, all in one convenient location.
            <br><br>
            And that's not all! To make things even easier, we've included a green icon-based placeholder for each instance_id, along with its corresponding IP and port, so you can quickly identify each instance of the service. Plus, we've included the allowed client IP addresses, so you know exactly who can connect to each instance.
            <br>
            <code>
                [ECMG]<br>
                # &lt;ECMG-INSTANCE-ID&gt;:&lt;ECMG-IP&gt;:&lt;ECMG-PORT&gt;:&lt;MUX_IP_LIST&gt;<br>
                1: 192.168.1.62: 1001: 192.168.1.16, 192.168.1.62<br>
            </code>
            <br>
            But wait, there's more! The remaining part of the System.config file has a set of configuration parameters that are shared among all instances. Each parameter is displayed as a line item with an editable value and a submit button. And if you're not sure what a particular parameter does, don't worry! The UI maintains and displays double-hashed ('##') based comments against each parameter, so you can easily understand what it does.
            <br>
            <code>
                [SIMULCRYPT]<br>
                <br>
                ## The Super_CAS_id is a 32-bit identifier formed by the concatenation of the CA_system_id (16 bit) and <br>
                ## the CA_subsystem_id (16 bit). It shall identify uniquely a (set of) ECMG(s) for a given SCS,<br>
                <br>
                #Super_CAS_id:0x56010000<br>
            </code>
            <br>
            So what are you waiting for? It's time to upload your file and start managing your service instances like a pro!
        </article>
        <h2 class="line-break-anywhere">User Configuration</h2>
        <article class="configuration-article line-break-anywhere">
            Before uploading your user.config file, it's important to understand that the file will be imported into a MySQL
            database. Once the file is successfully imported, the data will be displayed in the user interface (UI), and
            you'll have the option to modify each row.
            <br><br>
            The user.config tab in the UI will provide several features, including the ability to search based on service_id
            and/or product_id, delete a row, and modify a row. It's important to note that any modifications made in the UI
            will also modify the corresponding database table. During the presentation, the database row will be checked to
            ensure that the changes were successfully applied.
            <br><br>
            It's worth mentioning that the UI will maintain the double-hashed (‘##’) based groupings, so you can be
            confident that the data is presented in a clear and organized manner. Overall, uploading your user.config file
            is an essential step in accessing and modifying your data through the UI, so be sure to follow the necessary
            steps to ensure a successful import.
            <br><br>
            Please use the below reference to upload the user config file
            <br>
            <br>
            <code>
                [SERVICE]<br>
                ## Group1: Delhi<br>
                100 : prod-1, prod-2, prod-3<br>
                101 : prod-1, prod-2, prod-5, prod-6<br>
                102 : prod-1, prod-2, prod-5, prod-9<br>
                103 : prod-1, prod-2, prod-5, prod-10<br>
                104 : prod-1, prod-2, prod-5, prod-6, prod-7, prod-8<br>
                <br>
                ## Group2: Kolkata<br>
                105 : prod-1, prod-2<br>
            </code>
        </article>
    </div>

</section>


