@import url('../src/assets/scss/font.scss');

/* You can add global styles to this file, and also import other style files */
body {
    font-weight: 800;
    font-family: 'robotoThin';
    font-size: 14px;
    color: #393B44;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    background-color: #F6F7FB;
  }

  code {
    background-color: rgba(175, 184, 193, 0.6);
    border-radius: 6px;
    padding: 2px 1px;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer a {
    display: flex;
    align-items: center;
  }

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.flex-body {
  display: flex;
}

button {
  min-width: 85px;
  height: 48px;
  border: 2px solid #393B44;
  // border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 14px;
  color: #393B44;
  background-color: white;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    color: white;
    background: #393B44;
  }
}

.primary-button {
  color: white;
  background: #393B44;
  height: 35px !important;
  font-size: 16px !important;
  font-weight: 400 !important;

  &:hover {
    background: white;
    color: #393B44;
  }
}

img {
  filter: contrast(0.58);
}

.style-blinker { 
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #393b443b;
}

.style-blinker::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #3CCF4E;
  vertical-align: top;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.line-break-anywhere {
  line-break: anywhere;
}

.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: #111111ee;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
0% {
  opacity: 0;
  transform: translate(-50%, -30%);
}
100% {
  opacity: 1;
  transform: translate(-50%, 0);
}
}